* {
    font-family: 'Open Sans', sans-serif;
}

body{
    border: 1px solid black;
}

main{
    /* width: 75%; */
    margin-left: 10%;
    margin-left: 10%;
}

h1 {
    text-align: center;
}

.pre-footer{
    background-color: #002540;
    height: 200px;

}


.pre-footer > div{
    display: inline;
    float: left;
    color: white;
    width: 25%;
}

.pre-footer > div > p {
    margin-bottom: 0;
    margin-top: 0;
}

ol {
    list-style-type: none;
}